__pycache__/
.vscode
training_data
exp
exp_pretrain
experiments/logs
LIBERO
vis_results
vis_scripts
rollouts
test_results
vis*
wandb
scripts/logs
scripts/test_output*
tactile_vqvae/logs
tactile_vqvae/plots
.vscode
